.cont-1 {
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shipping {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button {
  background-color: #2762be !important;
  color: white !important;
}

.btn-checkout {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  height: 50px;
  font-size: 15px !important;
  font-weight: bold !important;
  border: none;
  border-radius: 6px;
  color: white !important;
  background-color: #2762be !important;
}

.goPay {
  display: flex;

  align-items: center;
}

.form-check-input {
  width: 20px !important;
  height: 20px !important;
  border-radius: 200px !important;
}

.goopay {
  margin-left: 20px;
  width: 175px;
  height: 50px;
}
